
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #311D3F;
    color: white;
}

.container {
    display: grid;
    grid-template-rows: 20vh 20vh auto;
    gap: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks ul {
    display: grid;
    list-style-type: none;
    gap: 1vh;
}

.todo-form {
    display: grid;
    grid-template-columns: 50vh 20vh;
}

.tasks ul li {
    display: grid;
    grid-template-columns: 80vh 20vh;
    align-items: center;
    box-shadow: 0 0 5px 1px #E23E57;
    width: 100vh;
    height: 5vh;
    background-color: #522546;
}

.delete-button {
    height: 5vh;
    background-color: #402E7A;
    border-radius: 10px;
    border: 2px solid;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.delete-button:hover {
    background-color: #088395;
    transform: scale(1.1);
}
